/*
dark blue     - #00263D
main blue     - #0897EB
light blue    - #32B3FF
lighter blue  - #B3ECFF
lightest blue - #E0F7FF

main yellow   - #EBE008
light yellow  - #FFF643

*/

.primaryButton {
    -fx-background-color: #0078d7;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8 16;
    -fx-background-radius: 6;
    -fx-cursor: hand;
}
.primaryButton:hover {
    -fx-background-color: #005fa3;
}

.left-pane {
    -fx-background-color: #e6f7ff; /* light blue */
    -fx-alignment: center;
}

.right-pane {
    -fx-background-color: #b3e6ff; /* darker blue */
    -fx-padding: 40;
}

.section-title {
    -fx-font-family: "Arial";
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #00263D;
}
.copy {
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-text-fill: #00263D;
}

.error-text {
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-text-fill: #FF1C20;
    -fx-opacity: 0;
    -fx-max-height: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
}
.error-text.active {
    -fx-opacity: 1;
    -fx-max-height: 100;
    -fx-min-height: 16;
    -fx-pref-height: 16;
}


.text-field, .password-field {
    -fx-pref-width: 250;
    -fx-background-color: #E0F7FF;
    -fx-background-radius: 6;
    -fx-border-color: #0897EB;
    -fx-border-radius: 4;
    -fx-padding: 8;
    -fx-text-fill: #00263D;
}
