/* Select all buttons and set the background color to red
and the text color to white */
.button {
    -fx-background-color: #121212;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 5;
}

/* Set color of button when mouse hovers over it */
.button:hover {
    -fx-background-color: #2e2e2e;
}


.left-pane {
    -fx-background-color: #e6f7ff; /* light blue */
    -fx-alignment: center;
}

.right-pane {
    -fx-background-color: #b3e6ff; /* darker blue */
    -fx-padding: 40;
}

.logo-text {
    -fx-font-size: 32px;
    -fx-text-fill: #0099e6;
    -fx-font-weight: bold;
}

.section-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #000;
}

.text-field, .password-field {
    -fx-pref-width: 250;
    -fx-background-color: #e6e6e6;
    -fx-background-radius: 4;
    -fx-padding: 8;
}


