/* Top Bar */
.root {
    -fx-background-color: -fx-main-200;

}
.primaryButton {
    -fx-background-color: #0078d7;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8 16;
    -fx-background-radius: 6;
    -fx-cursor: hand;
}
.primaryButton:hover {
    -fx-background-color: #005fa3;
}

.top-bar {
    -fx-background-color: white;
    -fx-background-radius: 10;
}

.title-label {
    -fx-font-family: "Arial";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #00263D;
}

.leaderboard-title {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-table-cell-border-color: transparent;
    -fx-padding: 10;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom, #e3f2fd, #bbdefb);
}

.table-view .column-header, .table-view .filler {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #b0bec5;
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
}

.table-row-cell {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #f0f0f0;
}

.table-row-cell:selected {
    -fx-background-color: #90caf9 !important;
}

.current-user-row {
    -fx-background-color: #cce5ff !important;
}

.table-cell {
    -fx-alignment: CENTER;
}
