/*
dark blue     - #00263D
main blue     - #0897EB
light blue    - #32B3FF
lighter blue  - #B3ECFF
lightest blue - #E0F7FF

main yellow   - #EBE008
light yellow  - #FFF643

*/

.primaryButton {
    -fx-background-color: -fx-main-600;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8 16;
    -fx-background-radius: 6;
    -fx-cursor: hand;
}
.primaryButton:hover {
    -fx-background-color: -fx-main-600-hover;
}

.left-pane {
    -fx-background-color: -fx-main-100;
    -fx-alignment: center;
}

.right-pane {
    -fx-background-color: -fx-main-200; /* darker blue */
    -fx-padding: 40;
}

.section-title {
    -fx-font-family: "Arial";
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-main-800;
}
.section-title-disabled {
    -fx-font-family: "Arial";
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-main-800;
    -fx-opacity: .5;
    -fx-cursor: hand;
}
.section-title-disabled:hover {
    -fx-opacity: .7;
}

.copy {
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-text-fill: -fx-main-800;
}
.copy-underline {
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-text-fill: -fx-main-800;
    -fx-underline: true;
    -fx-cursor: hand;
}
.copy-underline:hover {
    -fx-text-fill: -fx-main-600;
}

.error-text {
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-text-fill: -fx-error-400;
    -fx-opacity: 0;
    -fx-max-height: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
}
.error-text.active {
    -fx-opacity: 1;
    -fx-max-height: 100;
    -fx-min-height: 20;
    -fx-pref-height: 16;
}


.text-field, .password-field {
    -fx-pref-width: 250;
    -fx-background-color: -fx-main-100;
    -fx-background-radius: 6;
    -fx-border-color: -fx-main-500;
    -fx-border-radius: 4;
    -fx-padding: 8;
    -fx-text-fill: -fx-main-800;
}
