.root-pane {
    -fx-background-color: #e6f7ff; /* soft blue background */
}

/* Center box styling */
.center-pane {
    -fx-alignment: center;
    -fx-spacing: 12;
    -fx-padding: 30;
}

/* Title */
.title-label {
    -fx-font-family: "Arial";
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-main-800;
}

/* TextFields */
.center-pane TextField {
    -fx-max-width: 280px;
    -fx-pref-width: 250;
    -fx-background-color: -fx-main-100;
    -fx-background-radius: 6;
    -fx-border-color: -fx-main-500;
    -fx-border-radius: 4;
    -fx-padding: 8;
    -fx-text-fill: -fx-main-800;
}

/* Error Text */
.error-text {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: -fx-error-400;
    -fx-opacity: 0;
    -fx-max-height: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
}
.error-text.active {
    -fx-opacity: 1;
    -fx-max-height: 100;
    -fx-min-height: 20;
    -fx-pref-height: 16;
}

/* New Password Field */
.new-pass {
    -fx-opacity: 0;
    -fx-max-height: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
}
.new-pass.active {
    -fx-opacity: 1;
    -fx-max-height: 100;
    -fx-min-height: 30;
}


/* resetButton */
.resetButton {
    -fx-background-color: -fx-main-600;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8 16;
    -fx-background-radius: 6;
    -fx-cursor: hand;
    -fx-opacity: 0;
    -fx-max-height: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
}
.resetButton:hover {
    -fx-background-color: -fx-main-600-hover;
}
.resetButton.active {
    -fx-opacity: 1;
    -fx-max-height: 100;
    -fx-min-height: 35;
}


/* Buttons */
.primaryButton {
    -fx-background-color: -fx-main-600;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8 16;
    -fx-background-radius: 6;
    -fx-cursor: hand;
}
.primaryButton:hover {
    -fx-background-color: -fx-main-600-hover;
}

/* Secondary button (return link style) */
.secondaryButton {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-main-600;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-color: transparent;
    -fx-padding: 8 16;
    -fx-background-radius: 6;
    -fx-cursor: hand;
}
.secondaryButton:hover {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: -fx-main-600;
}

